USE [master]
GO
CREATE DATABASE [AccountServer]
GO
USE [AccountServer]
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_charge] (
  [id] [int] NOT NULL,
  [charge_flag] [int] NULL,
  [charge_begin_tick] [int] NULL,
  [charge_end_tick] [int] NULL,
  [saves] [int] NULL,
  CONSTRAINT [PK_account_charge] PRIMARY KEY CLUSTERED ([id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account_details] (
  [acc_id] [int] NOT NULL,
  [vipstatus] [datetime] NULL,
  [squestion] [varchar](50) NOT NULL,
  [answer] [varchar](50) NOT NULL,
  [email] [varchar](100) NOT NULL,
  [gender] [int] NOT NULL,
  [credit] [float] NOT NULL,
  [truename] [varchar](50) NOT NULL,
  [birthday] [datetime] NOT NULL,
  [contact] [varchar](50) NOT NULL,
  [country] [varchar](50) NOT NULL,
  [ipaddr] [varchar](50) NOT NULL,
  [ip2country] [varchar](50) NOT NULL,
  [activated] [int] NOT NULL,
  [actcode] [varchar](20) NULL,
  [invtcode] [varchar](50) NULL,
  [reference] [int] NULL,
  [create_time] [datetime] NOT NULL,
  CONSTRAINT [PK_account_details] PRIMARY KEY CLUSTERED ([acc_id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account_invt] (
  [inv_id] [int] IDENTITY (1, 1) NOT NULL,
  [invt_code] [varchar](50) NOT NULL,
  [assignto] [varchar](50) NULL,
  [used] [int] NOT NULL,
  CONSTRAINT [PK_account_invt] PRIMARY KEY CLUSTERED ([inv_id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account_login] (
  [id] [int] IDENTITY (1, 1) NOT NULL,
  [name] [varchar](50) NULL,
  [password] [varchar](255) NULL,
  [salt] [varchar](255) NULL,
  [sid] [int] NOT NULL CONSTRAINT [DF_account_login_sid] DEFAULT ((0)),
  [login_status] [int] NULL CONSTRAINT [DF_account_login_login_status] DEFAULT ((0)),
  [enable_login_tick] [bigint] NULL CONSTRAINT [DF_account_login_enable_login_tick] DEFAULT ((0)),
  [login_group] [varchar](50) NULL,
  [last_login_time] [datetime] NULL CONSTRAINT [DF_account_login_last_login_time] DEFAULT (GETDATE()),
  [last_logout_time] [datetime] NULL CONSTRAINT [DF_account_login_last_logout_time] DEFAULT (GETDATE()),
  [last_login_ip] [varchar](50) NULL,
  [enable_login_time] [datetime] NULL CONSTRAINT [DF_account_login_enable_login_time] DEFAULT ('2001-1-1 1:1:1'),
  [total_live_time] [bigint] NOT NULL CONSTRAINT [DF_account_login_total_live_time] DEFAULT ((0)),
  [last_login_mac] [varchar](50) NULL,
  [ban] [bit] NULL,
  [email] [varchar](50) NULL,
  CONSTRAINT [PK_account_login] PRIMARY KEY CLUSTERED ([id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY],
  CONSTRAINT [IX_account_login] UNIQUE NONCLUSTERED ([name] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY],
  CONSTRAINT [IX_account_login_name] UNIQUE NONCLUSTERED ([name] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account_pending] (
  [acc_id] [int] IDENTITY (1, 1) NOT NULL,
  [name] [varchar](50) NOT NULL,
  [password] [varchar](50) NOT NULL,
  [squestion] [varchar](100) NOT NULL,
  [answer] [varchar](100) NOT NULL,
  [email] [varchar](100) NOT NULL,
  [gender] [int] NOT NULL,
  [truename] [varchar](100) NOT NULL,
  [birthday] [datetime] NOT NULL,
  [contact] [varchar](50) NOT NULL,
  [country] [varchar](50) NOT NULL,
  [ipaddr] [varchar](50) NOT NULL,
  [ip2country] [varchar](50) NOT NULL,
  [actcode] [varchar](50) NULL,
  [invtcode] [varchar](50) NULL,
  [reference] [int] NULL,
  [create_time] [datetime] NOT NULL,
  CONSTRAINT [PK_account_pending] PRIMARY KEY CLUSTERED ([acc_id] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameDBServerList] (
  [server_section] [int] NOT NULL,
  [server_ip] [nvarchar](128) NOT NULL,
  [server_uid] [nvarchar](128) NOT NULL,
  [server_pwd] [nvarchar](128) NOT NULL,
  [server_db] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogRandomAccount] (
  [accountName] [varchar](50) NOT NULL,
  [addDate] [datetime] NULL,
  [expireDate] [datetime] NULL,
  [ip] [varchar](15) NULL,
  [plainPassword] [varchar](32) NULL,
  CONSTRAINT [PK_LogRandomAccount] PRIMARY KEY CLUSTERED ([accountName] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[safety] (
  [aid] [bigint] IDENTITY (1, 1) NOT NULL,
  [allowIP] [nvarchar](32) NOT NULL,
  CONSTRAINT [PK_safety] PRIMARY KEY CLUSTERED ([aid] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[server_group] (
  [sgid] [int] IDENTITY (1, 1) NOT NULL,
  [group_name] [varchar](50) NOT NULL,
  CONSTRAINT [PK_server_group] PRIMARY KEY CLUSTERED ([sgid] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[server_list] (
  [slid] [int] IDENTITY (1, 1) NOT NULL,
  [sgid] [int] NOT NULL,
  [server_name] [varchar](50) NOT NULL,
  CONSTRAINT [PK_server_list2] PRIMARY KEY CLUSTERED ([slid] ASC) WITH (
  PAD_INDEX = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  IGNORE_DUP_KEY = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON
  ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TradeRecord] (
  [record_id] [varchar](50) NOT NULL,
  [record_message] [int] NOT NULL,
  [record_section] [int] NOT NULL,
  [record_info] [nvarchar](4000) NOT NULL,
  [record_time] [datetime] NOT NULL,
  [ret_info] [nvarchar](4000) NOT NULL,
  [ret_time] [datetime] NOT NULL,
  [state] [int] NOT NULL
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
SET
ANSI_NULLS ON
GO
SET
QUOTED_IDENTIFIER ON
GO
SET
ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_log] (
  [log_id] [int] IDENTITY (1, 1) NOT NULL,
  [user_id] [int] NOT NULL,
  [user_name] [varchar](50) NOT NULL,
  [login_time] [datetime] NULL,
  [logout_time] [datetime] NULL,
  [login_ip] [varchar](20) NULL
) ON [PRIMARY]
GO
SET
ANSI_PADDING OFF
GO
ALTER TABLE
[dbo].[account_details]
ADD
CONSTRAINT [DF_account_details_vipstatus] DEFAULT (((1) / (1)) / (1970)) FOR [vipstatus]
GO
ALTER TABLE
[dbo].[account_details]
ADD
CONSTRAINT [DF_account_details_gender] DEFAULT ((0)) FOR [gender]
GO
ALTER TABLE
[dbo].[account_details]
ADD
CONSTRAINT [DF_account_details_credit] DEFAULT ((0)) FOR [credit]
GO
ALTER TABLE
[dbo].[account_details]
ADD
CONSTRAINT [DF_account_details_activated] DEFAULT ((0)) FOR [activated]
GO
ALTER TABLE
[dbo].[account_pending]
ADD
CONSTRAINT [DF_account_pending_gender] DEFAULT ((0)) FOR [gender]
GO
USE [master]
GO
ALTER DATABASE [AccountServer]
SET
READ_WRITE
GO