USE [GameDB]
DELETE guild

DECLARE @id int
SELECT
  @id = 0
WHILE @id < 199
BEGIN
  INSERT INTO guild (guild_id, guild_name)
    VALUES (@id, 'Pirate Guild ' + CONVERT(varchar(3), @id))
  SELECT
    @id = @id + 1
END

USE [GameDB]
ALTER TABLE guild
ADD banklog varchar(8000) NOT NULL DEFAULT ('')